* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:focus,
a:focus {
  outline: none;
}

:root {
  scroll-behavior: smooth;
  font-size: 10px;
  /* Color variables */
  --color-text-dark: #1a1a1c;
  --color-text-blue: #073150;
  --color-background: #efe8d6;
  --color-button: #dd4e30;
  --color-offer1: #db4e30;
  --color-offer2: #4caeba;
  --color-offer3: #55856e;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70px;
  padding: 15px;
  background-color: var(--color-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.header__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  z-index: 100;
}
.hamburger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: space-around;
  z-index: 1000;
}
.hamburger span {
  background-color: var(--color-text-dark);
  height: 2px;
  width: 24px;
  border-radius: 1px;
  transition: transform 0.4s ease, opacity 0.2s;
}
.hamburger--active span {
  position: relative;
}
.hamburger--active span:nth-child(2) {
  opacity: 0;
}
.hamburger--active span:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}
.hamburger--active span:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.header__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}
.header__nav--active {
  height: 100vh;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}
.menu-overlay {
  position: fixed;
  width: 100vw;
  background-color: var(--color-background);
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}
.menu-overlay--active {
  height: 100vh;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav-list li {
  width: 100%;
  height: 100%;
}

.nav-list li a {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-dark);
  font-size: 2rem;
  display: block;
  position: relative;
  line-height: 2.8;
  text-align: center;
}

/* Start of main style */

main {
  width: 100%;
  background-color: var(--color-background);
  overflow: hidden;
}
section {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.section__container {
  z-index: 2;
}
.section__heading {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
}
.section__text {
  font-family: Cardo, serif;
  font-size: 1.3rem;
}
.btn {
  height: 30px;
  border-radius: 15px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: montserrat, sans-serif;
  padding: 0 15px;
}
.photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Home section */
.section--home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 650px;
}

.section__container--home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__heading--home {
  width: 150px;
  text-align: center;
  margin-bottom: 30px;
}
.section__text--home {
  width: 280px;
  text-align: center;
}
.btn--to-offer {
  background-color: var(--color-button);
  transform: translateY(30px);
}
/* About section */
.section--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 80px 50px 10px 50px;
}
.section__container--about {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading"
    "text text"
    "photo photo"
    "button button";
}
.section__heading--about {
  grid-area: heading;
  margin-bottom: 10px;
  text-align: center;
}
.section__text--about {
  grid-area: text;
  text-align: center;
}
.photo-container--about {
  position: relative;
  grid-area: photo;
  justify-self: center;
  align-self: center;
}
.photo--about-together {
  position: relative;
  z-index: 1000;
  height: 120px;
  filter: drop-shadow(7px 11px 0 #f4c366);
}

.btn--about {
  grid-area: button;
  background-color: var(--color-button);
  justify-self: center;
  margin-top: 40px;
}
/* About details */
.section__container--about-details {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "heading1 photo1"
    "text1 text1"
    "heading2 photo2"
    "text2 text2";
}
.section__heading--about-details:first-of-type {
  grid-area: heading1;
  text-align: left;
  align-self: center;
}
.section__text--about-details:first-of-type {
  grid-area: text1;
  text-align: justify;
}
.photo-container--about-details:first-of-type {
  position: relative;
  grid-area: photo1;
  justify-self: center;
  align-self: center;
}
.section__heading--about-details:last-of-type {
  grid-area: heading2;
  text-align: left;
  align-self: center;
}
.section__text--about-details:last-of-type {
  grid-area: text2;
  text-align: justify;
}
.photo-container--about-details:last-of-type {
  position: relative;
  grid-area: photo2;
  justify-self: center;
  align-self: center;
}
.photo--about-ola,
.photo--about-maja {
  max-height: 160px;
}

/* Mission section */

.section--mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 650px;
}

.section__container--mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__heading--mission {
  text-align: center;
  margin-bottom: 60px;
}
.section__text--mission {
  width: 280px;
  text-align: center;
}
.mission-footer {
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  margin-top: 80px;
}
.mission-footer span {
  margin-right: 20px;
}
.mission-footer span:last-child {
  margin-right: 0;
}

/* Offer section */

.section--offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 80px 50px 50px 50px;
}
.section__heading--offer {
  text-align: center;
  margin-bottom: 30px;
}
.section__text--offer {
  text-align: center;
  margin-bottom: 20px;
}
.offer-list {
  display: flex;
  flex-direction: column;
}
.offer-list__item {
  width: 40vw;
  height: 35vw;
  max-height: 160px;
  position: relative;
}
.offer-list__item:nth-child(2) {
  align-self: flex-end;
}
.btn--offer {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 1.4rem;
  font-family: montserrat, sans-serif;
}
.shape-offer {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shape-offer1 {
  top: -7px;
  transform: scale(1.4);
}
.shape-offer2 {
  top: 5px;
  transform: scale(1.5);
}
.shape-offer3 {
  top: -5px;
  left: -10px;
  transform: scale(1.3);
}

.offer-details {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px 50px 50px;
  align-items: center;
  z-index: 150;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}
.section__heading--offer-details {
  text-align: center;
  margin-bottom: 60px;
}
.section__text--offer-details {
  text-align: center;
  max-width: 860px;
}
.offer-details--offer1 {
  background-color: var(--color-offer1);
}
.offer-details--offer2 {
  background-color: var(--color-offer2);
}
.offer-details--offer3 {
  background-color: var(--color-offer3);
}

/* Acive offer */

.offer-details--active {
  height: 100vh;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

/* Start of media queries */
/* ***************************************************************** */

@media only screen and (min-width: 600px) {
  /* Header and menu */
  header {
    height: 70px;
    padding: 15px;
  }
  .hamburger {
    display: none;
  }
  .header__nav {
    position: static;
    height: 100%;
    width: 100%;
    max-width: 750px;
    margin-left: 30px;
    opacity: 1;
    flex-direction: row;
    align-items: center;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-list li {
    width: auto;
    margin: 0 10px;
  }
  .nav-list li a {
    font-size: 1.6rem;
  }
  .nav-list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 2px;
    transition: width 0.3s ease;
    background-color: var(--color-text-dark);
  }
  .nav-list li a:hover::after {
    width: 100%;
  }
  .menu-overlay {
    display: none;
  }
  /* Main section */
  section {
    max-height: 1024px;
  }
  .section__heading {
    font-size: 3rem;
  }
  .section__text {
    font-size: 1.6rem;
  }
  .btn {
    font-size: 1.6rem;
    height: 40px;
    border-radius: 20px;
  }
  /* Home section */
  .section__heading--home {
    width: 450px;
  }
  .section__text--home {
    width: 520px;
  }

  /* About section */
  .section--about {
    padding: 90px 90px 30px 90px;
  }
  .section__container--about {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading heading photo photo"
      "text text text photo photo"
      "button . . photo photo";
  }
  .section__heading--about {
    text-align: left;
  }
  .section__text--about {
    text-align: left;
  }
  .btn--about {
    justify-self: left;
  }
  .photo-container--about {
    position: relative;
    top: 50px;
  }
  .photo--about-together {
    height: 350px;
    filter: drop-shadow(18px 25px 0 #f4c366);
  }
  /* About details */
  .section__container--about-details {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    grid-template-rows: auto;
    grid-template-areas:
      "photo1 photo1 heading1 heading1 heading1"
      "photo1 photo1 text1 text1 text1"
      "heading2 heading2 heading2 photo2 photo2"
      "text2 text2 text2 photo2 photo2";
  }
  .photo--about-ola,
  .photo--about-maja {
    max-height: 400px;
  }
  /* Mission section */
  .section__text--mission {
    width: 520px;
  }
  .mission-footer {
    font-size: 2.5rem;
    margin-top: 40px;
  }
  .mission-footer span {
    margin-right: 30px;
  }
  /* Offer section  */
  .section__container--offer {
    max-width: 860px;
  }
  .section__text--offer {
    margin-bottom: 50px;
  }
  .offer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .offer-list__item {
    width: 25%;
    max-height: 215px;
    margin: 10px;
    position: relative;
  }
  /* .btn--offer {
    font-size: 2rem;
  } */
}
@media only screen and (min-width: 768px) {
  /* Heading and menu */
  header {
    height: 100px;
    padding: 25px;
  }
  .header__nav {
    margin-left: 60px;
  }
  .nav-list li a {
    font-size: 2rem;
  }
  /* Main section */
  section {
    max-height: 1200px;
  }
  .section__heading {
    font-size: 4.2rem;
  }
  .section__text {
    font-size: 1.9rem;
  }
  .btn {
    font-size: 1.8rem;
    height: 46px;
    border-radius: 23px;
  }
  /* Home section */

  .section__heading--home {
    width: 650px;
  }
  .section__text--home {
    width: 600px;
  }
  /* Mission section */
  .section__text--mission {
    width: 600px;
  }
  .mission-footer {
    font-size: 3.4rem;
    margin-top: 50px;
  }
  .mission-footer span {
    margin-right: 50px;
  }
  /* Offer section  */
  .btn--offer {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  /* Main section */
  .section__heading {
    font-size: 5.2rem;
  }
  .section__text {
    font-size: 2.2rem;
  }
  .btn {
    font-size: 2.2rem;
    height: 54px;
    border-radius: 27px;
  }
  /* Home section */
  .section__heading--home {
    width: 860px;
  }
  .section__text--home {
    width: 640px;
  }

  /* About section */
  .section--about {
    padding: 115px;
  }
  .photo--about-together {
    height: 400px;
    filter: drop-shadow(30px 40px 0 #f4c366);
  }

  /* Mission section */
  .section__text--mission {
    width: 800px;
  }
  .mission-footer span {
    margin-right: 80px;
  }
}
@media only screen and (min-width: 1400px) {
  /* About section */
  .section__container--about {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". heading heading heading photo photo photo"
      ". text text text photo photo photo"
      ". button . . photo photo photo";
  }
  .section__container--about-details {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". photo1 photo1 heading1 heading1 heading1 ."
      ". photo1 photo1 text1 text1 text1 ."
      ". heading2 heading2 heading2 photo2 photo2 ."
      ". text2 text2 text2 photo2 photo2 .";
  }
}
